<div class="main-container">
  <div class="index-cards py-5 ml-4 mr-3">
    <h3 class="text-center heading-varela p-4">View All of Our Desks</h3>
    <div class="cards-map rounded">
      <% @listings.each do |listing| %>
        <div class="card text-center">
          <%= link_to listing_path(listing) do %>
            <%= cl_image_tag listing.photos[0].key, class: "w-100", height: 200, crop: :fill  %>
            <div class="card-body">
              <h5 class="card-title"><%= listing.title.capitalize %> </h5>
              <p class="listing-address"><%= listing.address_line_1 %></p>
              <p class="listing-rate">£<%= listing.rate %></p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="map-container mb-5">
    <div id="map"
       style="width: 100%; height: 100vh;"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>

