<div class="container">
  <div>
    <div class="mt-5">
        <h3>Desk Details</h3>
        <p> <%= @listing.title %></p>
         <p> <%= @listing.description %></p>
         <p> <%= @listing.city %></p>
         <p> £ <%= @listing.rate %> per day</p>







  <%= cl_image_tag @listing.photos.first.key, height: 300, width: 400, crop: :fill %>

  </div>
  <div>
      <p><%= link_to "Book this desk", listings_path %></p>
      <p><%= link_to "Back to desks", listings_path %></p>
  </div>
  </div>
</div>
