
<div class="container mb-3">
  <div class="row pt-5">
    <div class="col-8" class="single-listing-img">

      <div class="card p-4">
      <h3 id="listing-heading">Desk Details</h3>
        <%= cl_image_tag @listing.photos.first.key, class: 'w-100 rounded listing-show-img' %>
      <p> <%= @listing.title %> located in <strong><%= @listing.city %></strong></p>
      <h5> <%= @listing.description %> </h5>
      <h6> £ <%= @listing.rate %> per day</p>
      </div>
    </div>
    <div class="col-4">
      <div class="card p-4">
      <%= render 'bookings/booking_form' %>
      </div>
    </div>
  </div>
</div>
