<div class="container my-5">
  <h2>Welcome, <%= current_user.first_name %></h2>
<div class="row">
  <div class="col-md-6">
    <div class="booking-container pb-2">
      <h3>Here are your upcoming bookings</h3>
    </div>
    <% if @bookings.present? %>
        <div class="card-img-top">
          <% @bookings.each do |booking| %>
            <div class="card text-center" style="width: 19rem;">
              <%= cl_image_tag booking.listing.photos[0].key, width: 302, height: 200, crop: :fill %>
              <div class="card-body">
                <h5 class="card-title"><%= booking.listing.title %></h5>
                <p>Start date:<%= booking.start_date.strftime("%d %B, %Y") %></p>
                <p>End date: <%= booking.end_date.strftime("%d %B, %Y") %></p>
                <p><%= booking.approved ? 'Owner has approved' : 'Pending approval' %></p>
                <%= link_to 'Edit Booking', edit_listing_booking_path(booking.listing, booking), class: "btn sign-up my-3"  %>
                <%= link_to 'Cancel Booking', booking_path(booking), method: :delete, data: {confirm: "Are you sure you want to cancel this booking?"}, class: "btn cancel"  %>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <p>No upcoming bookings.</p>
      <% end %>
  </div>
  <div class="col-md-6">
    <div class="booking-container pb-2">
      <h3>Booking for listings you own</h3>
    </div>
    <% if @owner_bookings.present? %>
      <div class="cards rounded card-img-top">
        <% @owner_bookings.each do |owner_booking| %>
          <div class="card text-center" style="width: 19rem;">
            <%= cl_image_tag owner_booking.listing.photos[0].key, width: 302, height: 200, crop: :fill %>
            <div class="card-body">
              <h5 class="card-title"><%= owner_booking.listing.title %></h5>
              <p>Start date:<%= owner_booking.start_date.strftime("%d %B, %Y") %></p>
              <p>End date: <%= owner_booking.end_date.strftime("%d %B, %Y") %></p>
              <p><%= owner_booking.approved ? 'Approved' : 'Pending Approval' %></p>
              <%= render 'approval_form', owner_booking: owner_booking %>
              <%= link_to 'Deny request', booking_path(owner_booking), method: :delete, data: {confirm: "Are you sure?"}, class: "btn cancel mt-3"  %>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <p>You don't have any listings.</p>
    <% end %>
  </div>
  </div>
</div>
