<div class="booking-new-card">

 <%= cl_image_tag @listing.photos[0].key, width: 302, height: 400, crop: :fill %>

  <div class="booking-new-infos">
    <h2>Product name</h2>
    <h3>Booking Details</h3>
        <p> <%= @listing.title %></p>
        <p> <%= @listing.description %></p>
        <p> <%= @listing.city %></p>
        <p> £ <%= @listing.rate %> per day</p>
        <p> <%= @booking.start_date %></p>
        <p> <%= @booking.end_date %></p>
  </div>
</div>

  <%= link_to "Back to Home", root_path %>
