<!DOCTYPE html>
<html>
  <head>
    <title>AirDesk</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Google Fonts Roboto -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <!-- Google Fonts Verela Round -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>

    <!-- app/views/layouts/application.html.erb -->




  <div class="page-container">
    <div class="navbar-container"><%= render "shared/navbar" %>

    </div>
    <div class="content-container mt-5">
       <%= render 'shared/flashes' %>
      <%= yield %>

    </div>
    <div class="footer-container"><%= render "shared/footer" %></div>
  </div>


  </body>
</html>
